  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Program your own road</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expand="false" aria-lable="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarResponsive" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Portfolio</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="#">Contact</a>
        </li>
    </div>
  </nav>