<!DOCTYPE html>
<html>
<head>

</head>
<body class="top#page">

  <%= render 'shared/navigation' %>

   <div id="main-container" class="container">
    <div class="row">
      <div class="col-xs-3">
        <h3>Bootstrap is working!</h3>
      </div>
      <div class="col-xs-9">
        <%= yield %>
      </div>
      </div>
    </div>

    
    <%= link_to 'My Blog', controller: 'articles' %>
</body>
</html>