<!DOCTYPE html>
<html>
<head>

</head>
<body class="top#page">

    <h1>Hello, Rails!</h1>
    <p>Welcome to my Blog, my name is Scott Speedie and I am currently teaching myslef to become a developer</p>
    
    
    <%= link_to 'My Blog', controller: 'articles' %>
</body>
</html>